<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{course.title}}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--Need all of these script tags (and in this order)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        #player {
            border: 5px solid;
            border-image-source: linear-gradient(45deg, #06f0a6, #067e9c);
            border-image-slice: 1;
            width: 450px;
            margin: 10px auto;
        }

        #player:hover {
            border-image-source: linear-gradient(45deg, #067e9c, #06f0a6);
        }

        iframe {
            width: 45%;
            /* margin: 10px auto; */
            vertical-align: top;
        }

        #description {
            width: auto;
            padding: 20px;
            margin: 20px;
            background-color: #ebebeb;
        }

        #take_quiz {
            width: 500px;
            margin: 0px auto;
            padding: 20px;
            background-color: rgb(138, 37, 177, 0.7);
            border-radius: 15px;
        }

        #save {
            width: 500px;
            padding: 20px;
            background-color: rgb(138, 37, 177, 0.7);
            border-radius: 15px;
        }

        .modal-content {
            width: 600px;
            margin: 0px auto;
            padding: 30px
        }

        #take_quiz_btn_modal {
            margin: 5px;
        }

        .modal-inner-content {
            width: fit-content;
            margin: 0px auto;
        }

        #add_to_playlist_btn {
            width: fit-content;
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <div id="course-page-wrapper">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light nav_transparency">
            <a href="/"><img src="{% static 'img/LOGO_TeachMe_Owl.png' %}" alt="TeachMe Logo" class="img-fluid"
                    style="max-width: 150px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/library">Course Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    {% if request.session.user_level == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/create_course">Create Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manage_quizzes">Manage Quizzes</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    {% if request.session.user_id %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% endif %}
                </ul>
                <span class="navbar-text">
                    Your learning resource for on-demand instruction.
                </span>
            </div>
        </nav>
        <br>
        <!-- End Nav Bar -->
        <div class="content_box_purple">
            <!-- class="container-fluid "> -->
            <h3 class="white_h3">{{course.title}}</h3>
            <div class="row" id=description>
                <div class="col-sm-6 shadow p-3">
                    <h4>Description:</h4>
                    <p>{{course.description}}</p>
                </div>
                <!--VIDEO HERE -->
                <div class="col-sm-6" id="video_box">
                    <iframe id="player" src="https://www.youtube.com/embed/{{course.video_id}}?enablejsapi=1"
                        frameborder="0" width="480" height="270" style="border: solid 4px #37474F">
                    </iframe>
                </div>
                <!-- When video ends (onend), modal should pop up with a button to take the quiz -->
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="take_quiz shadow p-3">
                        <h4 class="white_h3">Not sure if it's for you? </h4>
                        <p class="white_p">Take a quiz to see if you already know the information...</p>
                        <a href="/take_quiz/{{course.id}}" class="btn btn-light" id="take_quiz_btn" role="button">Take
                            the Quiz</a>
                        <!-- GOES DIRECTLY TO QUIZ PAGE DOES NOT ADD TO PLAYLIST -->
                    </div>
                </div>
                <!--ADD TO PLAYLIST DO NOT TAKE QUIZ -->
                <div class="col-sm-6">
                    <div class="take_quiz shadow p-3">
                        <h4 class="white_h3">Save for Later:</h4>
                        <p class="white_p">Add to a playlist to access this course at another time</p>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" id="add_to_playlist_btn" type="button" data-toggle="dropdown">Add to Playlist<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <form action="/add_to_playlist/{{course.id}}" method="POST">
                                    {% csrf_token %}
                                    {% for playlist in playlists %}
                                    {% if course in playlist.course.all %}
                                    <li class=disabled>
                                        <label>
                                            <input class="disabled_button" type="radio" name="playlist"
                                                value="{{playlist.id}}">
                                            {{playlist.title}}</label>
                                    </li>
                                    {% else %}
                                    <li class=active>
                                        <label>
                                            <input type="radio" name="playlist" value="{{playlist.id}}">
                                            {{playlist.title}}</label>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    <input type="hidden" name="hidden" value="add_to_playlist_no_quiz">
                                    <input type="submit" value="Add to Playlist!">
                                </form>

                                <form action="/add_to_new_playlist/{{course.id}}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" name="playlist" placeholder="New Playlist Name">
                                    <input type="hidden" name="hidden" value="add_to_playlist_no_quiz">
                                    <input type="submit" value="Create New Playlist!">
                                </form>
                                <!-- Drop down menu of all playlists. If the course is already in the playlist, that option is disabled. If not, the link should lead to a view that adds the video to the playlist -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button style=visibility:hidden id="open-modal" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#myModal">Take Quiz</button>
            <!--MODAL TO TAKE QUIZ AND ADD TO PLAYLIST WHEN DONE WITH VIDEO -->

            <div id="myModal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-inner-content">
                            <span class="close">&times;</span>
                            <h3>You finished the video!</h3>
                            <p>Add it to one of your playlists and take the quiz!</p>
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" id="add_to_playlist_btn" type="button"
                                    data-toggle="dropdown">Add to Playlist
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <form action="/add_to_playlist/{{course.id}}" method="POST">
                                        {% csrf_token %}
                                        {% for playlist in playlists %}
                                        {% if course in playlist.course.all %}
                                        <li class=disabled>
                                            <input id="disabled_button" type="radio" name="playlist"
                                                value="{{playlists.id}}">
                                            <label for="{{playlists.id}}">{{playlist.title}}</label>
                                        </li>
                                        {% else %}
                                        <li class=active>
                                            <input type="radio" name="playlist" value="{{playlists.id}}">
                                            <label for="{{playlists.id}}">{{playlist.title}}</label>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                        <input type="hidden" name="hidden" value="add_to_playlist_and_take_quiz">
                                        <input type="submit" value="Take the Quiz!">
                                    </form>
                                    <form action="/add_to_new_playlist/{{course.id}}" method="POST">
                                        <input type="text" name="playlist" placeholder="New Playlist Name">
                                        <input type="hidden" name="hidden" value="add_to_playlist_and_take_quiz">
                                        <input type="submit" value="Take the Quiz!">
                                    </form>
                                    <!-- Drop down menu of all playlists. If the course is already in the playlist, that option is disabled. If not, the link should lead to a view that adds the video to the playlist -->
                                </ul>
                            </div>

                        </div>
                        <a href="/take_quiz/{{course.id}}" class="btn btn-light" id="take_quiz_btn_modal"
                            role="button">Already on a Playlist? Take the quiz now!</a>
                        <!-- Modal that opens when the video ends with an option to take the quiz -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start navbar-fixed-bottom">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Contact Us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Work for Us</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <div class="col-md-6">
                    <h5 class="text-uppercase mb-0">Connect with TeachMe</h5>
                    <a href="#!" target="" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#!" target="" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#!" target="" class="btn-social btn-trello"><i class="fa fa-trello"></i></a>
                    <a href="#!" target="" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#!" target="" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" href="https://TeachMe.com/">TeachMe.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script type="text/javascript">
        var tag = document.createElement('script');
        tag.id = 'iframe-demo';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            document.getElementById('player');
        };
        $(".disabled_button").prop("disabled", true);

        function showModal(playerStatus) {
            if (playerStatus == 0) {
                console.log("vid ended");
                document.getElementById("open-modal").click();
                //var myModal = document.getElementById('myModal');
                //var myInput = document.getElementById('myInput')

                //myModal.addEventListener('toggle.bs.modal', function () {
                //myInput.focus()
                //});
                //myModal.toggle()
                //$("#myModal").modal("show");
                console.log("modal called");
            }
        }

        function onPlayerStateChange(event) {
            showModal(event.data);
        }
    </script>

</body>

</html>