<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Library</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div id="other_wrapper">
        <nav class="navbar navbar-expand-lg navbar-light nav_transparency">
            <a href="/"><img src="{% static 'img/LOGO_TeachMe_Owl.png' %}" alt="TeachMe Logo" class="img-fluid" style="max-width: 150px;" ></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/library">Course Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <span class="navbar-text">
                Your learning resource for on-demand instruction.
            </span>
            </div>
        </nav>
    <!-- search bar -->
        <br>
        <!-- <form class="form-inline search_bar">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75 active-purple" type="text" placeholder="Search" aria-label="Search">
        </form> -->
        <form class="form-inline d-flex justify-content-right md-form form-sm active-purple active-purple-2 mt-2">
        
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
        </form>
        <br>
        <!-- end search bar -->
        <h3>Popular Courses</h3>
        <!--Carousel Wrapper-->
        <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> -->
            <!--Controls-->
            <!-- <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul> -->
            <!--/.Controls-->
            <!--Indicators-->
            <!-- <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
            </ol> -->
            <!--/.Indicators-->
            <!--Slides-->
            <!-- <div class="carousel-inner" role="listbox"> -->
            <!--First slide-->
            {% for course in courses %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://img.youtube.com/vi/{{course.video_id.next}}/0.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{course.title}}</h4>
                    <p class="card-text">{{course.description}}</p>
                    <a class="btn btn-light" href="/video/{{course_id}}">Visit Course Page</a>
                </div>
            </div>
                <!-- <div class="carousel-item active">
                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                            src="https://img.youtube.com/vi/{{course.video_id.next}}/0.jpg" alt="course image">
                            <div class="card-body">
                                <h4 class="card-title">{{course.title}}</h4>
                                <p class="card-text">{{course.description}}</p>
                                <a class="btn btn-light" href="/video/{{course_id}}">Visit Course Page</a>
                            </div>
                        </div>
                    </div> -->
            {% endfor %}
                <!-- Commented this out so that hopefully the courses can loop through the carousel by one not by 4-->
                    <!-- <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                            src="https://img.youtube.com/vi/{{course.video_id.next}}/0.jpg"alt="course image">
                            <!-- No idea if this .next stuff will work. I think we need another view to direct it to move to the next course_id? here's some info I found: https://stackoverflow.com/questions/1931008/is-there-a-clever-way-to-get-the-previous-next-item-using-the-django-orm 
                            <div class="card-body">
                                <h4 class="card-title">{{course.title.next}}</h4>
                                <p class="card-text">{{course.description.next}}</p>
                                <a class="btn btn-light" href="/video/{{course_id.next}}">Visit Course Page</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                            src="https://img.youtube.com/vi/{{course.video_id.next}}/0.jpg" alt="course image">
                            <!-- No idea if this .next stuff will work. I think we need another view to direct it to move to the next course_id? 
                            <div class="card-body">
                                <h4 class="card-title">{{course.title.next}}</h4>
                                <p class="card-text">{{course.description.next}}</p>
                                <a class="btn btn-light" href="/video/{{course_id.next}}">Visit Course Page</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                            src="https://img.youtube.com/vi/{{course.video_id.next}}/0.jpg" alt="course image">
                            <!-- No idea if this .next stuff will work. I think we need another view to direct it to move to the next course_id? 
                            <div class="card-body">
                                <h4 class="card-title">{{course.title.next}}</h4>
                                <p class="card-text">{{course.description.next}}</p>
                                <a class="btn btn-light" href="/video/{{course_id.next}}">Visit Course Page</a>
                            </div>
                        </div>
                    </div> -->
            </div>
           
        </div>
            <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
    </div> 
    <div>
        <h3>Full List of Courses</h3>
        <!-- we probably need a way to alphabetize by title. This page has some good info. Looks like you just add a meta class for the key you want it sorted by? https://stackoverflow.com/questions/6540032/sorting-related-items-in-a-django-template  OR in views, this might work?? all_videos = video.objects.all().order_by('title')-->
        {% for course in courses %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col-xs-4">
                    <a href="/video/{{course_id}}">{{ course.title }}</a>
                </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}   
        {% endfor %}
    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6">
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-dark">Contact Us</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Work for Us</a>
                </li>
              </ul>
            </div>         
            <!--Grid column-->
            <div class="col-md-6">
              <h5 class="text-uppercase mb-0">Connect with TeachMe</h5>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-trello"><i class="fa fa-trello"></i></a>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    <!-- /page wrapper -->
</body>
</html>