<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Random Quiz</title>
</head>
<body>
    <div id="other-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light nav_transparency">
            <a href="/"><img src="{% static 'img/LOGO_TeachMe_Owl.png' %}" alt="TeachMe Logo" class="img-fluid" style="max-width: 150px;" ></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/library">Course Library</a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="/create_course">Create Course</a>
                </li>
                    <a class="nav-link" href="/profile/{{user.id}}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <span class="navbar-text">
                Your learning resource for on-demand instruction.
            </span>
            </div>
        </nav>
        <h3>Create a Random Quiz</h3>
        <form action="create_random_quiz" method="POST" >
            {% csrf_token %}
            <select name="course" id="course" class="custom-select mr-2" required>
                <option value="">Choose course...</option>
                {% for course in courses %}
                <option value="{{course.id}}">{{course.title}}</option>
                {% endfor %}
            </select>
            <button type="submit">Create Random Quiz</button>
        </form>
        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
            <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <h5 class="text-uppercase">Links</h5>
                
                        <ul class="list-unstyled mb-0">
                            <li>
                            <a href="#!" class="text-dark">Contact Us</a>
                            </li>
                            <li>
                            <a href="#!" class="text-dark">Work for Us</a>
                            </li>
                        </ul>
                    </div>         
                    <!--Grid column-->
                    <div class="col-md-6">
                        <h5 class="text-uppercase mb-0">Connect with TeachMe</h5>
                        <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-trello"><i class="fa fa-trello"></i></a>
                        <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>

</body>
</html>