{% for course in courses %}
<!-- In the views, pull over courses only in that playlist (can you separate by completed and not completed -KE -->
<!-- Or, we can do an if/else statement, if the score is null, it isn't completed, if it is an integer, it is completed -KE -->
    {% if score == null %}
    <div class="card" style="width:100px;">
        <img src="https://img.youtube.com/vi/{{course.video_id}}/0.jpg" alt="course thumbnail" href="/video/{course.id}">
        <p><small>{{course.title}}</small></p>
    </div>
    <hr class="horizontal_line"></hr>
    {% elif score==0 or 1 or 2 or 3 or 4 or 5 %}
    <h3>Courses Completed</h3>
    <div>
        <img src="https://img.youtube.com/vi/{{course.video_id}}/0.jpg" alt="course completed thumbnail" href="/get_quiz/{course.id}">
            <p><small>{{course.title}}</small></p> 
            <!-- would it make sense to add a context object in the get_quiz area so that i can pull over the course info using the same loop? -MP -->
            <p><small>{{course.score}}/5</small></p>
            <a href="/video/{{course_id}}"><small>Retake Course</small></a>
        </div>
{% endfor %}