<div id=individual_playlist>
  {% load scores %}
  {% for course in courses %}
  <!-- In the views, pull over courses only in that playlist (can you separate by completed and not completed -KE -->
  <!-- Or, we can do an if/else statement, if the score is null, it isn't completed, if it is an integer, it is completed -KE -->
  {% if course.id in scores %}
  <h3>Courses Completed</h3>
  <div class="card classcard" style="width: 15rem; display:inline-block; ">
    <img class="card-img-top" src="https://img.youtube.com/vi/{{course.video_id}}/0.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{course.title}}</h4>
      <p><small>{{scores|keyvalue:course.id}}/5</small></p>
      <a class="btn btn-info" href="/view_here/{{course.id}}">Retake Course</a>
    </div>
  </div>

  <hr class="horizontal_line">
  </hr>
  {% else %}
  <h3>Courses to Take</h3>

  <div class="card classcard" style="width: 15rem; display:inline-block; ">
    <img class="card-img-top" src="https://img.youtube.com/vi/{{course.video_id}}/0.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{course.title}}</h4>
      <a class="btn btn-info" href="/view_here/{{course.id}}">Visit Course Page</a>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div>